body {
    background-color:darkgray;
}
h1 {
    color:black;
    background-color: white;
    text-align: center;
    font-family:Verdana;
    font-size: 40px;
}

.rectangle {
    margin-left: -10px;
    width: 200px;
    height: 100px;
    background: rgba(255, 0, 255, 10);
}